/* shared styles */
.btn-primary{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
padding: 5px 20px;

}
.btn-title{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
padding: 5px 20px;
}



/* header styles */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
padding: 38px 240px;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none ;
    margin-right: 32px;
    font-weight: 500;
    font-size: 18px;
    
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    
}


/* banner styles */
.benner-primary{
    color:#8758F1;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    
}
.banner{
    display: flex;
    align-items: center;
    
    
}
.banner .profile-pic{
    width: 600px;
}



/* skills related styles */

#Online-Games-Funny-Videos{
    padding: 5px 600px;
}
.skills-container{
    display: flex;
    
}
.skill-description{
    padding: 30px 5px 10px 10px;
   
}
/* feature section styles */
.features{
    margin: 50px 50px 50px 50px;
    display: flex;
    gap: 100px;
}
.img-pic{
   border-radius: 8px;
    
    position: relative;
    bottom: 300px;
}
/* sponsors styles */
.sponsors-img-container{
    display: flex;
}



/* footer styles */
footer{
    background:#0B0223;
    padding: 25px;
}
.colur{
    color: #FFF;
}
.colurs{
    color: #FF42A5;
}
.colurss{
    color: #8758F1;
} 
.sponsors-img-container{
   
}